.about-header {
    font-size: 2em;
}

img {
    width: 11em;
}

#bulb {
    padding-left: 12em;
}
#pika {
    padding-left: 3em;
}
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
  }
  .flex-grid-thirds .col {
    width: 32%;
  }