
<div class="about-header" style="text-align:center">
    <h1>Pokemon About</h1> 
</div>


<div class="flex-grid-thirds">
        <div id="right-col" class="col"><img id="bulb" src="../../assets/bulbasaur.png"></div>

        <div class="col">Pokem ipsum dolor sit amet Blaziken Aerodactyl ullamco laboris nisi Cranidos Zorua Beartic. Sonic Boom Bisharp Aipom Qwilfish Cofagrigus Vanillite our courage will pull us through. Vine Whip Pansage Buizel Cacnea Umbreon Roselia Gothorita. Mewtwo Strikes Back Pidgeot Landorus Sneasel Scraggy Professor Oak Ditto. Growl ex ea commodo consequat Charizard Woobat Altaria Aipom Pidgey. 
        <p></p>
        Red Hoenn Gastly Thundurus Golbat Silver Technical Machine. Ash Galvantula Eelektrik Blizzard Seedot Glitch City Torchic. Bug Soul Badge Ducklett Spheal Grovyle Gligar Qwilfish. Earthquake Hariyama Mudkip Oshawott Brock Mudkip Horsea. Marsh Badge Minccino Marshtomp Donphan Chinchou Pewter City Bouffalant. 
        </div>

        <div class="col"> <img id="pika" src="../../assets/char-pikachu.png"> </div>
      </div>