<h1>Index</h1>
<a mat-raised-button color="primary" routerLink="/note/create">Create New</a>
<hr />

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
    
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef class="matColumnSize"></mat-header-cell>
      <mat-cell *matCellDef="let pokemon" routerLink="/pokemon/detail/{{pokemon.PokeId}}">
        <i class="material-icons">library_books</i></mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="PokeId">
        <mat-header-cell *matHeaderCellDef> Pokemon # </mat-header-cell>
        <mat-cell *matCellDef="let pokemon"> {{pokemon.PokeId}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="PokeName">
        <mat-header-cell *matHeaderCellDef> Pokemon Name </mat-header-cell>
        <mat-cell *matCellDef="let pokemon"> {{pokemon.PokeName}} </mat-cell>
      </ng-container>
    
  </mat-table>
</div>